@use "variables" as *

.i-button-grid
  --i-button-grid-background-primary: #{$background-alt}!important

.i-modal-wrapper
  --i-modal-theme: #5252ff!important
  --i-modal-theme-alt: #6464ff!important
  --i-modal-background: #{$background-alt}!important
  --i-modal-background-alt: #{$background-soft}!important
  --i-modal-color: #{$color-900}!important
  --i-modal-color-alt: #{$color-700}!important

.i-tabs-wrapper
  --i-tabs-title-background: #{$anchor-hover}!important
  --i-tabs-content-background: #{$background-soft}!important

i-sb-import
  --i-sb-import-background: #{$background-alt}!important
  --i-sb-import-code-background: #{$background-mute}!important
  --i-sb-import-color: #{$color-700}!important