@use "variables" as *

:root
  --i-button-grid-background-primary: $$background-alt

  --i-modal-theme: #5252ff
  --i-modal-theme-alt: #6464ff
  --i-modal-background: $background-alt
  --i-modal-background-alt: $background-soft
  --i-modal-color: #fff
  --i-modal-color-alt: #ccc

