@use "variables" as *;
@use "breakpoints" as *;

header.primary-header {
  border-bottom: 2px solid $background-alt;
  height: $header-height;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .navigation-button {
    background: none;
    color: $color-900;
    outline: 0;
    border: 0;
    border-radius: 0;
    cursor: pointer;

    @media (min-width: $mq-sm) {
      display: none;
    }

    &:hover,
    &:focus-visible {
      color: $color-700;
    }
  }
  
  .header-content {
    max-width: $max-width;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: $inline-spacing;

    .main {
      display: flex;
      gap: .5rem;
      font-weight: bold;
      align-items: center;
  
      img {
        width: 2.5rem;
        height: 2.5rem;
      }

      p {
        padding: 0;
      }
    }
  }
}