@use "variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css");

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background: $background;
  color: $color-900;
  font-family: Inter;
  display: grid;
  justify-content: center;
}

i-sb-import-loader {
  display: none;
}