@use "variables" as *;

.main-content {
  padding-top: $header-height + $header-spacing;
  display: grid;
  grid-template-columns: minmax(250px, 250px) minmax(500px, $max-width - 250px);
  gap: 1rem;
  max-width: $max-width;
  padding-inline: $inline-spacing;
}
