@use "variables" as *;

* {
  box-sizing: border-box;
}

ol {
  list-style: none;
  counter-reset: ol;

  li {
    counter-increment: ol;

    &::before {
      content: counter(ol) ". ";
    }
  }
}

ul {
  list-style: none;

  li::before {
    content: "- ";
  }
}
