@use "variables" as *;

table {
  border-spacing: 0;
  margin-bottom: 1rem;

  td,
  th {
    text-align: left!important;
  }

  td {
    padding-block: .5rem;
    padding-right: 1rem;
    border-top: 2px solid $background-soft;
  }

  th {
    padding-bottom: .5rem;
    padding-right: 1rem;
    font-weight: 600;
    color: $color-700;
  }
}