@use "variables" as *;

/*************
** HEADINGS **
**************/

h1,
h2 {
  padding-bottom: .2em;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h3,
h4,
h5,
h6 {
  font-weight: 600;
  padding-bottom: .5em;
}

h4,
h5,
h6 {
  color: $color-700;
}

h2 {
  font-weight: 800;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4,
h5,
h6 {
  font-size: 1.25rem;
}

/************
** SPACING **
*************/

p,
ol,
ul {
  padding-bottom: .5em;
}

/************
** ANCHORS **
*************/

a:not([class]) {
  color: $anchor;
  text-decoration: none;
  
  &:hover,
  &:focus-visible {
    color: $anchor-hover;
    text-decoration: underline;
  }
}

/***********
** IMAGES **
************/

img.img-400 {
  max-width: 600px;
  width: 100%;
}