// Colors
$background: #0c0c0c
$background-alt: #131313
$background-soft: #181818
$background-mute: #222222
$background-light: #282828

$color-900: #ffffff
$color-700: #cccccc

$anchor: #4cb4ff
$anchor-hover: #0095ff

// Widths/Heights
$header-height: 4rem
$header-spacing: 1rem
$max-width: 1800px
$inline-spacing: 1rem

// Info, Warning, Error, Success

$state-default-background: #383838
$state-default-color: #ffffff
$state-default-icon: \F0757

$state-success-background: #263227
$state-success-color: #4caf50
$state-success-icon: \F05E0

$state-info-background: #212f3a
$state-info-color: #2196f3
$state-info-icon: \F02FC

$state-warning-background: #3b2e1d
$state-warning-color: #fb8c00
$state-warning-icon: \F0028

$state-error-background: #36292c
$state-error-color: #cb6477
$state-error-icon: \F0159
